<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>nguyen.com.controllers.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <display-name>nguyen</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>nguyen.com.controllers.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServletCookie</display-name>
    <servlet-name>LoginServletCookie</servlet-name>
    <servlet-class>nguyen.com.controllers.LoginServletCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServletCookie</servlet-name>
    <url-pattern>/LoginServletCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloServletCookie</display-name>
    <servlet-name>HelloServletCookie</servlet-name>
    <servlet-class>nguyen.com.controllers.HelloServletCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServletCookie</servlet-name>
    <url-pattern>/HelloServletCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServletSession</display-name>
    <servlet-name>LoginServletSession</servlet-name>
    <servlet-class>nguyen.com.controllers.LoginServletSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServletSession</servlet-name>
    <url-pattern>/LoginServletSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServletSession</display-name>
    <servlet-name>ProfileServletSession</servlet-name>
    <servlet-class>nguyen.com.controllers.ProfileServletSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServletSession</servlet-name>
    <url-pattern>/ProfileServletSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServletSession</display-name>
    <servlet-name>LogoutServletSession</servlet-name>
    <servlet-class>nguyen.com.controllers.LogoutServletSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServletSession</servlet-name>
    <url-pattern>/LogoutServletSession</url-pattern>
  </servlet-mapping>
</web-app>